@bgcolor    :#1e8da8;
@bgcolor-a  :#9a5f16;
@white      :#fff;

.ax-clear{clear:both;}
.H10{font-size:0px; height:10px;}

.login_info{
    a{
        color:@white;
    }
    fieldset{
        border:0px;    
        background:@bgcolor;
        margin:0px; padding:0px;
        text-align: left;
        .user-name {//div
            background:lighten(@bgcolor,10);
            border-bottom:1px solid lighten(@bgcolor,30);
            padding:10px;
            color:@white;
            span, a{vertical-align: middle;}
            span{
                float:left;
                line-height: 1.4;
            }
            .btn-logout{
                display: block;
                float:right;
                border:2px solid @bgcolor-a;
                background: lighten(@bgcolor-a, 10);
                padding:8px;
                &:hover{
                    text-decoration: none;
                    color:@white;
                }
            }
        }
        .user-menu{//ul
            text-align: left;        
            list-style: none !important; margin:0px 0px !important; padding:0px;
            li{
                float:none !important;
                display: block !important;   	
                a{
                    color:@white !important;
                    line-height: 22px !important;
                    height: 22px !important;
                    &:hover{
                        text-decoration: underline !important;
                    }
                }
            }
        }
    }
}
.login_form{
    fieldset{
        border:0px;    
        background:@bgcolor;
        margin:0px; padding:0px;
        text-align: left;
        .msg-wrap{
            border:1px solid @bgcolor;
            position: relative;
            .message{
                margin:10px;
            }
        }
        .idpw-wrap{
            border-bottom:1px solid lighten(@bgcolor,30);
            .idpw{
                margin:10px;            
                input{
                    border:none; 
                    float:left;
                    line-height: 26px; height: 26px;
                    width:46%;
                    margin-right:5px;
                }
            }
            .keep{
                color:@white;
                margin:0px 10px;
            }
            .btn-login{
                margin:10px;
                display: block;
                border:2px solid @bgcolor-a;
                background: lighten(@bgcolor-a, 10);
                padding:8px;
                color:@white;
                &:hover{
                    text-decoration: none;
                    color:@white;
                }
                
            }                
            
        }
        .help{//ul
            color:@white;
            text-align: left;
            list-style:0px !important;; margin:0px !important;; padding:0px !important;;
            li{
                a{color:@white !important;}
            }
        }
    }
}