<div id="AXPageBody" class="ax-sub">
    <div class="ax-wrap">
        <h1>서브페이지</h1>
        <div class="ax-layer mountain-box">
            <div class="ax-col-12">
                <div class="ax-unit">
                    <div class="mountain"></div>
                </div>    
            </div>
            <div class="ax-clear"></div>
        </div>
        <div class="ax-layer contents-page">
            <div class="H10"></div>
        	<div class="ax-col-3 left-box">
        	    <div class="ax-unit">
                     <h2>XE소개</h2>     			
                     <ul>
                         <li><a href="#" class="on">About</a></li>
                         <li><a href="#">XE허브</a></li>
                         <li><a href="#">이벤트</a></li>
                         <li><a href="#">컨트리뷰터</a></li>
                     </ul>
        	    </div>
        	</div>
        	<div class="ax-col-9 right-box">
        	    <div class="ax-unit">
        	        <article id="CXPage">
            	        컨텐츠 삽입
        	        </article>
        	    </div>
        	</div>
        	<div class="ax-clear"></div>
            <div class="H10"></div>        	                	
        </div>
    </div>
</div>