<div id="AXPageBody" class="ax-main">
    <div class="ax-wrap">
        <h1>메인페이지</h1>
        <div class="ax-layer mountain-box">
            <div class="ax-col-12">
                <div class="ax-unit">
                    <div class="mountain"></div>
                </div>    
            </div>
            <div class="ax-clear"></div>
        </div>
        <div class="ax-layer contents-page">
            <div class="H10"></div>
            <div class="ax-col-12">
                <div class="ax-unit">
                    <article id="CXPage">
                        컨텐츠 삽입
                    </article>
                </div>    
            </div>
            <div class="ax-clear"></div>
            <div class="H10"></div>            
        </div>
    </div>
</div>  