@import url('http://fonts.googleapis.com/css?family=Titillium+Web:400,300,200,600');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600');
@import url("../fonts/NanumBarunGothic.css");
.none {
  display: none;
}
.util-border-radius-none {
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
}
.util-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.util-textHidden {
  text-indent: 99999px;
  overflow: hidden;
}
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  color: #000000;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-stroke: 0.6px;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  background: #ffffff;
}
html a,
body a {
  color: #000000;
  text-decoration: none;
}
html a:hover,
body a:hover {
  color: #000000;
  text-decoration: underline;
}
html a:active,
body a:active {
  color: #000000;
}
body,
input,
table,
textarea,
select,
button {
  font-family: "Nanum Barun Gothic", "Open sans", "Titillium Web";
  word-wrap: normal !important;
}
.H10 {
  height: 10px;
  font-size: 1px;
}
.H20 {
  height: 20px;
  font-size: 1px;
}
.H30 {
  height: 30px;
  font-size: 1px;
}
.H40 {
  height: 40px;
  font-size: 1px;
}
.H50 {
  height: 50px;
  font-size: 1px;
}
.H60 {
  height: 60px;
  font-size: 1px;
}
.H70 {
  height: 70px;
  font-size: 1px;
}
.H80 {
  height: 80px;
  font-size: 1px;
}
.H90 {
  height: 90px;
  font-size: 1px;
}
.H100 {
  height: 100px;
  font-size: 1px;
}
.ax-rwd-table {
  position: relative;
}
.ax-rwd-table .item-group {
  position: relative;
  min-height: 40px;
}
.ax-rwd-table .item-group.gray {
  background: #eeeeee;
  padding: 0px;
  min-height: 25px;
}
.ax-rwd-table .item-group .item {
  float: left;
  line-height: 20px;
  min-height: 20px;
  padding: 0px;
  text-align: center;
  position: relative;
}
.ax-rwd-table .item-group .item .item-unit {
  position: relative;
  display: table-row;
  *display: block;
  *float: left;
}
.ax-rwd-table .item-group .item .item-unit span.th {
  display: table-cell;
  *display: block;
  *float: left;
  color: #616161;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  min-height: 20px;
  line-height: 20px;
  padding: 10px 10px;
  box-sizing: border-box;
}
.ax-rwd-table .item-group .item .item-unit span.th.none {
  border: 0px none;
}
.ax-rwd-table .item-group .item .item-unit span.td {
  display: table-cell;
  *display: block;
  *float: left;
  height: 30px;
  line-height: auto;
  padding: 5px 20px 5px 10px;
  *line-height: 30px;
  box-sizing: content-box;
  vertical-align: middle;
  text-align: left;
}
.ax-rwd-table .item-group .item .item-unit span.td.selectBox {
  *padding-top: 7px;
  *height: 28px;
}
.ax-rwd-table .item-group .item .item-unit span.td.inputText {
  *padding-top: 6px;
  *height: 29px;
}
.ax-rwd-table .item-group .item .item-unit span.td.button {
  *padding-top: 6px;
  *height: 29px;
}
.ax-rwd-table .item-group .item .item-unit span.td select {
  box-sizing: border-box;
  height: 25px;
  margin: 0px;
}
.ax-rwd-table .item-group .item .item-unit span.td input {
  vertical-align: middle;
}
.ax-rwd-table .item-group .item .item-unit span.td label {
  vertical-align: middle;
}
.ax-rwd-table .item-group .item .item-unit span.W100 {
  min-width: 100px;
}
.ax-rwd-table .item-group .item .item-unit span.W110 {
  min-width: 100px;
}
.ax-rwd-table .item-group .item .item-unit span.W120 {
  min-width: 100px;
}
.ax-rwd-table .item-group .item .item-unit span.W130 {
  min-width: 100px;
}
.ax-rwd-table .item-group .item .item-unit span.W140 {
  min-width: 100px;
}
.ax-rwd-table .item-group .item .item-unit span.W150 {
  min-width: 100px;
}
.ax-rwd-table .item-group .item .item-unit span.W160 {
  min-width: 100px;
}
.ax-rwd-table .item-group .item .item-unit span.W170 {
  min-width: 100px;
}
.ax-rwd-table .item-group .item .item-unit span.W180 {
  min-width: 100px;
}
.ax-rwd-table .item-group .item .item-unit span.W190 {
  min-width: 190px;
}
.ax-rwd-table .item-group .item .item-unit span.W200 {
  min-width: 200px;
}
.ax-rwd-table .item-group .item .item-unit span.W250 {
  min-width: 250px;
}
.ax-rwd-table .item-group .item .item-unit span.W300 {
  min-width: 300px;
}
.ax-rwd-table .item-group .item .item-unit span.W350 {
  min-width: 350px;
}
.ax-rwd-table .item-group .item .item-unit span.W350 {
  min-width: 350px;
}
.ax-rwd-table .item-group .item .item-unit span.W400 {
  min-width: 400px;
}
.ax-rwd-table .item-group .item .item-unit span.W450 {
  min-width: 450px;
}
.ax-rwd-table .item-group .item .item-unit span.W500 {
  min-width: 500px;
}
.ax-rwd-table .item-group .item:first-child .item-unit span.th,
.ax-rwd-table .item-group .item.first-child .item-unit span.th {
  border-left: none;
}
.ax-rwd-table .item-group .item.fullWidth {
  position: relative;
  display: table;
  float: none;
  clear: both;
  width: 100%;
}
.ax-rwd-table .item-group .item.fullWidth .item-unit {
  position: relative;
  display: table-row;
  float: none;
  clear: both;
  width: 100%;
}
.ax-rwd-table .item-group .item.fullWidth .item-unit span.th {
  width: 100px;
}
.ax-rwd-table .item-group .item.fullWidth .item-unit input[type=text],
.ax-rwd-table .item-group .item.fullWidth .item-unit input[type=password],
.ax-rwd-table .item-group .item.fullWidth .item-unit .AXInput,
.ax-rwd-table .item-group .item.fullWidth .item-unit select,
.ax-rwd-table .item-group .item.fullWidth .item-unit textarea {
  width: 100%;
  height: 25px;
  box-sizing: border-box;
}
.ax-rwd-table .item-group .item.rightPadding0 .item-unit span.td {
  padding-right: 0px;
}
.ax-rwd-table .item-group .item.leftPadding0 .item-unit span.td {
  padding-left: 0px;
}
.ax-rwd-table .item-group .item.padding0 .item-unit span.td {
  padding: 5px 0px;
}
.ax-rwd-table .item-group .group-clear {
  font-size: 1px;
  line-height: 1px;
  height: 1px;
  background: #e2e2e2;
  clear: both;
}
@media (max-width: 767px) {
  .ax-rwd-table .item-group {
    position: relative;
    min-height: 40px;
  }
  .ax-rwd-table .item-group.gray {
    background: #eee;
    padding: 0px;
    min-height: 25px;
  }
  .ax-rwd-table .item-group .item {
    float: none;
    line-height: auto;
    min-height: auto;
    padding: 0px;
    text-align: left;
    position: relative;
    min-width: auto;
  }
  .ax-rwd-table .item-group .item .item-unit {
    position: relative;
    display: block;
    float: left;
  }
  .ax-rwd-table .item-group .item .item-unit span.th {
    display: block;
    float: none;
    color: #616161;
    border: none;
    padding: 0px;
    margin: 10px 10px 10px 15px;
    box-sizing: content-box;
    text-align: left;
    font-weight: bold;
  }
  .ax-rwd-table .item-group .item .item-unit span.td {
    display: block;
    float: none;
    height: auto;
    line-height: auto;
    padding: 0px;
    margin: 0px 10px 10px 10px;
    *line-height: 30px;
    box-sizing: content-box;
    vertical-align: middle;
    text-align: left;
  }
  .ax-rwd-table .item-group .item .item-unit span.td select {
    box-sizing: border-box;
    height: 25px;
    margin: 0px;
  }
  .ax-rwd-table .item-group .item .item-unit span.td input {
    vertical-align: middle;
  }
  .ax-rwd-table .item-group .item .item-unit span.td label {
    vertical-align: middle;
  }
  .ax-rwd-table .item-group .item.rightPadding0 .item-unit span.td {
    padding-right: 0px;
  }
  .ax-rwd-table .item-group .item.leftPadding0 .item-unit span.td {
    padding-left: 0px;
  }
  .ax-rwd-table .item-group .item.padding0 .item-unit span.td {
    padding: 5px 0px;
  }
  .ax-rwd-table .item-group .item-clear {
    clear: both;
  }
  .ax-rwd-table .item-group .group-clear {
    font-size: 1px;
    line-height: 1px;
    height: 1px;
    background: #e2e2e2;
    clear: both;
  }
}
