@import url('http://fonts.googleapis.com/css?family=Titillium+Web:400,300,200,600');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600');
@import url("../fonts/NanumBarunGothic.css");
@import url("ax-rwd-table.css");
.none {
  display: none;
}
.util-border-radius-none {
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
}
.util-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.util-textHidden {
  text-indent: 99999px;
  overflow: hidden;
}
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  color: #000000;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-stroke: 0.6px;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  background: #ffffff;
}
html a,
body a {
  color: #000000;
  text-decoration: none;
}
html a:hover,
body a:hover {
  color: #000000;
  text-decoration: underline;
}
html a:active,
body a:active {
  color: #000000;
}
body,
input,
table,
textarea,
select,
button {
  font-family: "Nanum Barun Gothic", "Open sans", "Titillium Web";
  word-wrap: normal !important;
}
.H10 {
  height: 10px;
  font-size: 1px;
}
.H20 {
  height: 20px;
  font-size: 1px;
}
.H30 {
  height: 30px;
  font-size: 1px;
}
.H40 {
  height: 40px;
  font-size: 1px;
}
.H50 {
  height: 50px;
  font-size: 1px;
}
.H60 {
  height: 60px;
  font-size: 1px;
}
.H70 {
  height: 70px;
  font-size: 1px;
}
.H80 {
  height: 80px;
  font-size: 1px;
}
.H90 {
  height: 90px;
  font-size: 1px;
}
.H100 {
  height: 100px;
  font-size: 1px;
}
#AXPage .ax-wrap {
  margin: 0 auto;
}
#AXPage .ax-clear {
  clear: both;
}
#AXPage .ax-unit {
  margin: 0 10px;
}
#AXPage .ax-col {
  float: left;
}
#AXPage div[class*="ax-col-"] {
  float: left;
  height: inherit;
}
#AXPage .ax-col-1 {
  width: 8.3334%;
}
#AXPage .ax-col-2 {
  width: 16.6667%;
}
#AXPage .ax-col-3 {
  width: 25%;
}
#AXPage .ax-col-4 {
  width: 33.3334%;
}
#AXPage .ax-col-5 {
  width: 41.6667%;
}
#AXPage .ax-col-6 {
  width: 50%;
}
#AXPage .ax-col-7 {
  width: 58.3334%;
}
#AXPage .ax-col-8 {
  width: 66.6667%;
}
#AXPage .ax-col-9 {
  width: 75%;
}
#AXPage .ax-col-10 {
  width: 83.3334%;
}
#AXPage .ax-col-11 {
  width: 91.6667%;
}
#AXPage .ax-col-12 {
  width: 100%;
}
#AXPage div[class*="mx-"] {
  display: none;
}
@media (min-width:1152px) {
  .ax-wrap {
    width: 1152px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1151px) {
  .ax-wrap {
    width: 960px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #AXPage .ax-wrap {
    margin: 0 auto;
    width: 100%;
  }
  #AXPage .ax-clear {
    clear: both;
  }
  #AXPage .ax-unit {
    margin: 0 10px;
  }
  #AXPage .ax-col {
    float: left;
  }
  #AXPage div[class*="ax-col-"] {
    float: left;
    height: inherit;
  }
  #AXPage .ax-col-1 {
    width: 100%;
  }
  #AXPage .ax-col-2 {
    width: 100%;
  }
  #AXPage .ax-col-3 {
    width: 100%;
  }
  #AXPage .ax-col-4 {
    width: 100%;
  }
  #AXPage .ax-col-5 {
    width: 100%;
  }
  #AXPage .ax-col-6 {
    width: 100%;
  }
  #AXPage .ax-col-7 {
    width: 100%;
  }
  #AXPage .ax-col-8 {
    width: 100%;
  }
  #AXPage .ax-col-9 {
    width: 100%;
  }
  #AXPage .ax-col-10 {
    width: 100%;
  }
  #AXPage .ax-col-11 {
    width: 100%;
  }
  #AXPage .ax-col-12 {
    width: 100%;
  }
  #AXPage div[class*="mx-"] {
    display: block;
  }
}
@media (max-width: 767px), only screen and (min-width: 768px) and (max-width: 1023px) {
  #AXPage .ax-wrap {
    margin: 0 auto;
    width: 100%;
  }
  #AXPage .ax-clear {
    clear: both;
  }
  #AXPage .ax-unit {
    margin: 0 10px;
  }
  #AXPage .ax-col {
    float: left;
  }
  #AXPage div[class*="ax-col-"] {
    float: left;
    height: inherit;
  }
  #AXPage .ax-col-1 {
    width: 100%;
  }
  #AXPage .ax-col-2 {
    width: 100%;
  }
  #AXPage .ax-col-3 {
    width: 100%;
  }
  #AXPage .ax-col-4 {
    width: 100%;
  }
  #AXPage .ax-col-5 {
    width: 100%;
  }
  #AXPage .ax-col-6 {
    width: 100%;
  }
  #AXPage .ax-col-7 {
    width: 100%;
  }
  #AXPage .ax-col-8 {
    width: 100%;
  }
  #AXPage .ax-col-9 {
    width: 100%;
  }
  #AXPage .ax-col-10 {
    width: 100%;
  }
  #AXPage .ax-col-11 {
    width: 100%;
  }
  #AXPage .ax-col-12 {
    width: 100%;
  }
  #AXPage div[class*="mx-"] {
    display: block;
  }
}
