<div id="AXPageBody" class="ax-sub">
    <div class="ax-wrap">
        <h1>서브페이지</h1>
        <div class="ax-layer mountain-box">
            <div class="ax-col-12">
                <div class="ax-unit">
                    <div class="mountain"></div>
                </div>    
            </div>
            <div class="ax-clear"></div>
        </div>
        <div class="ax-layer contents-page">
            <div class="H10"></div>
        	<div class="ax-col-3 left-box">
        	    <div class="ax-unit">
        			<h2 loop="$global_menu->list=>$key1,$val1" cond="$val1['selected'] && $val1['list']">{$val1['text']}</h2>
        			
        			<ul loop="$global_menu->list=>$key1,$val1" cond="$val1['selected'] && $val1['list']">
        				<li loop="$val1['list']=>$key2,$val2"><a href="{$val2['href']}" target="_blank"|cond="$val2['open_window']=='Y'" class="on"|cond="$val2['selected']">{$val2['link']}</a>
        					<ul cond="$val2['list']">
        						<li loop="$val2['list']=>$key3,$val3" ><a href="{$val3['href']}" target="_blank"|cond="$val3['open_window']=='Y'" class="on"|cond="$val3['selected']">{$val3['link']}</a></li>
        					</ul>
        				</li>
        			</ul>

                     <!--h2>XE소개</h2>     			
                     <ul>
                         <li><a href="#" class="on">About</a></li>
                         <li><a href="#">XE허브</a></li>
                         <li><a href="#">이벤트</a></li>
                         <li><a href="#">컨트리뷰터</a></li>
                     </ul-->
        	    </div>
        	</div>
        	<div class="ax-col-9 right-box">
        	    <div class="ax-unit">
                    <div class="breadclumb">
                        <ul>
                        	<li><a href="/">Home</a> &nbsp;&nbsp;<i class="axi axi-angle-right"></i>&nbsp;&nbsp;</li>
                        	<li loop="$global_menu->list=>$key1,$val1" cond="$val1['selected'] && $val1['list']">
                        		<a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'">{$val1['link']}</a>
                        		&nbsp;&nbsp;<i class="axi axi-angle-right"></i>&nbsp;&nbsp;
                                {@ $bc_depth1 = $val1; }                        		
                        	</li>
                        	<li loop="$bc_depth1['list']=>$key2,$val2" cond="$val2['selected']">
                        		<a href="{$val2['href']}" target="_blank"|cond="$val2['open_window']=='Y'">{$val2['link']}</a>
                        	</li>
                         </ul>
                    </div>
                    <div class="H20"></div>
                    <!-- s.CXPage -->
                    {$content}
                    <!-- e.CXPage -->        	        
        	    </div>
        	</div>
        	<div class="ax-clear"></div>
            <div class="H10"></div>        	                	
        </div>
    </div>
</div>