<load target="http://cdn.axisj.com/axicon/axicon.css" />
<load target="http://cdn.axisj.com/axisj/ui/arongi/AXJ.min.css" />
<load target="http://cdn.axisj.com/axisj/dist/AXJ.min.js" />
<load target="css/layout.css" />
<load target="js/layout.js" />

<div id="AXPage">
    <div id="AXPageHead">
        <div class="ax-wrap">
            <div class="mx-layer mx-menu-layer">
                <div class="ax-col-12">
                    <div class="ax-unit">
                        <h1>모바일 AX상단</h1>                    		
                        <div class="menu-left">
                            <h2>메뉴</h2>
                            <a href="#" id="mx-menu-handle"><i class="axi axi-th"></i></a>
                        </div>
                        <div class="menu-right">
                            <h2>언어선택</h2>
                            <a href="#" onclick="fnObj.listMobileMenuOpen();"><i class="axi axi-globe"></i></a>
                            <h2>로그인</h2>
                            <a href="{getUrl('act','dispMemberLoginForm')}"><i class="axi axi-ion-person"></i></a>
                        </div>
                    </div>    
                </div>
                <div class="ax-clear"></div>
            </div>
            <div class="mx-layer mx-menu-dummy-layer">
            </div>
            <div class="mx-layer mx-search-layer">
                <div class="ax-col-12">
                    <div class="ax-unit">
                        <h1>모바일 검색</h1>
            			<form action="{getUrl()}" method="get" class="search">
            				<input type="hidden" name="vid" value="{$vid}" />
            				<input type="hidden" name="mid" value="{$mid}" />
            				<input type="hidden" name="act" value="IS" />
                            <button type="submit" class="find-btn"><i class="axi axi-search"></i></button>
                            <input type="text" name="is_keyword" value="{$is_keyword}" required placeholder="{$lang->cmd_search}" title="{$lang->cmd_search}" />
            			</form>
                    </div>    
                </div>
                <div class="ax-clear"></div>
            </div>
            <div class="ax-layer logo-layer">
            	<h1>로고</h1>
                <div class="ax-col-12">
                    <div class="ax-unit">
                        <div class="logo-box">
                            <h2><a href="/"><img src="images/logo.png" /></a></h2>
                        </div>
                    </div>    
                </div>
                <div class="ax-clear"></div>
            </div>
            <div class="ax-layer top-layer">
                <h1>AX상단</h1>
            	<div class="ax-col-6 left-box">
            	    <div class="ax-unit">
                        <div class="select-lang">
                            <h2 id="lang-button"><i class="axi axi-globe"></i> 언어선택</h2>
                            <!--ul class="lang-list">
                                <li>한국어</li>
                                <li>English</li>                                
                                <li>日本語</li>
                            </ul-->
                            <ul class="lang-list">
                                <li loop="$lang_supported=>$key,$val">
                                    <a href="#" onclick="doChangeLangType('{$key}');return false;" class="on"|cond="$key==$lang_type">{$val}</a>
                                </li>                            
                            </ul>
                        </div>
                        
            	    </div>    
            	</div>
            	<div class="ax-col-6 right-box">
            	    <div class="ax-unit">
                        <div class="login-widget">
                            <h2>로그인 위젯</h2>
                            <ul cond="$is_logged">
                                <li><a href="#" id="login-button"><i class="axi axi-ion-person"></i> {$logged_info->nick_name}</a></li>
                            </ul>
                            <ul cond="!$is_logged">
                                <li><a href="#">회원가입</a></li>
                                <li><a href="#" id="login-button"><i class="axi axi-ion-person"></i> 로그인</a></li>
                            </ul>
                            <div class="login-widget-box">
                                <div class="abs-layer">
                                    <img class="zbxe_widget_output" widget="login_info" skin="axu" />
                                </div>
                            </div>
                        </div>
                        <div class="search-box">
                            <h2>검색</h2>
                			<form action="{getUrl()}" method="get" class="search">
                				<input type="hidden" name="vid" value="{$vid}" />
                				<input type="hidden" name="mid" value="{$mid}" />
                				<input type="hidden" name="act" value="IS" />
                                <button type="submit" class="find-btn"><i class="axi axi-search"></i></button>
                                <input type="text" name="is_keyword" value="{$is_keyword}" required placeholder="{$lang->cmd_search}" title="{$lang->cmd_search}" />
                			</form>
                        </div>
            	    </div>    
            	</div>
            	<div class="ax-clear"></div>
            </div>    
            <div class="ax-layer menu-layer">
                <h1>AX메뉴</h1>
            	<div class="ax-col-12">
            	    <div class="ax-unit">
                        <div class="abs-layer">

                		<nav class="nav" id="menuBox">
                			<h2>메뉴</h2>
                			<ul>
                				<li loop="$global_menu->list=>$key1,$val1" class="active"|cond="$val1['selected']">
                				    <div class="parentMenu">
                				    <a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'">{$val1['link']}</a>

                    				    <div class="childMenu" cond="$val1['list']">    
                    					<ul cond="$val1['list']">
                    						<li loop="$val1['list']=>$key2,$val2" class="active"|cond="$val2['selected']">
                    						    <a href="{$val2['href']}" target="_blank"|cond="$val2['open_window']=='Y'">{$val2['link']}</a>
                                            </li>
                    					</ul>
                    				    </div cond="$val1['list']">
                				    
                                    </div>                				    
                				</li>

                			</ul>
                		</nav>
                		
                        <!--nav class="nav" id="menuBox">
                	    	<h2>메뉴</h2>
                	    	<ul>
                    	    	<li>
                                    <div class="parentMenu">
                        	    	    <a href="#">XE소개</a>
                        	    	    <div class="childMenu">
                                	    	<ul>
                                    	    	<li><a href="#">소개</a></li>
                                    	    	<li><a href="#">XE허브</a></li>                        	    	
                                    	    	<li>
                                    	    	    <a href="#" class="expand">이벤트</a>
                                    	    	    <div class="childsMenu">
                                                        <ul>
                                                            <li><a href="#">Feature</a></li>
                                                            <li><a href="#">Design</a></li>
                                                            <li><a href="#">Applications</a></li>
                                                            <li><a href="#">Options</a></li>
                                                        </ul>                                        	    	    
                                    	    	    </div>
                                    	    	</li>
                                    	    	<li><a href="#">컨트리뷰터</a></li>
                                	    	</ul>
                        	    	    </div>
                                    </div>
                    	    	</li>
                    	    	<li>
                        	    	<div class="parentMenu">
                        	    	    <a href="#">시작하기</a>
                        	    	</div>
                                </li>
                    	    	<li>
                    	    	    <div class="parentMenu">
                    	    	        <a href="#">블로그</a>
                    	    	    </div>
                                </li>
                    	    	<li>
                    	    	    <div class="parentMenu">
                        	    	    <a href="#">다운로드</a>
                    	    	    </div>
                        	   </li>                	    	                	    	                	    	
                    	    	<li>
                    	    	    <div class="parentMenu">
                    	    	        <a href="#">지원</a>
                    	    	    </div>
                                </li>
                    	    	<li>
                    	    	    <div class="parentMenu">
                    	    	        <a href="#">쇼케이스</a>
                    	    	    </div>
                                </li>                	    	
                	    	</ul>	
                        </nav-->
                        
                        </div>
            	    </div>    
            	</div>
            	<div class="ax-clear"></div>
            </div>    
        </div>
    </div>
    <div id="AXPageVisual">
        <div class="ax-wrap">
            <h1>AX비주얼</h1>
            <div class="ax-layer deco">
            	<div class="ax-col-12">
            	    <div class="ax-unit">
                        <div class="deco-left">
                			<h2>물고기1</h2>
                			<img src="images/deco01.png" />
                        </div>
                        <div class="deco-right">
                	        <h2>물고기2</h2>
                	        <img src="images/deco02.png" />            			
                        </div>
            	    </div>
            	</div>
            	<div class="ax-clear"></div>
            </div>
            <div class="ax-layer about-xe" cond="$layout_info->layout_type == 'main'">
            	<div class="ax-col-12">
            	    <div class="ax-unit">
            	    	<h2>대표내용</h2>
                        <ul>
                            <li class="img"><i class="axi axi-xe"></i></li>
                            <li class="sc1">eXpress(표현하다) + press(발행하다) + Engine(기관, 장치)</li>
                            <li class="sc2">
                                XpressEngine은 누구나 쉽고 편하고 자유롭게 콘텐츠를 발행을 할 수 있도록 하기 위한
                                CMS(Content Management System)입니다. 급변하는 인터넷 환경과 다양한 기능의 요구에
                                부응하기 위해 XpressEngine은 다음과 같은 특징을 가지고 있습니다.                                
                            </li>
                        </ul>
                        <div class="ax-clear"></div>
            	    </div>    
            	</div>
            	<div class="ax-clear"></div>
            </div>
        </div>
    </div>
    <include target="layout-main.html" cond="$layout_info->layout_type == 'main'" />
    <include target="layout-sub.html" cond="$layout_info->layout_type == 'sub'" />    
    <div id="AXPageFoot">
        <div class="ax-wrap">
            <div class="ax-layer copyright">
                <h1>AX하단</h1>
            	<div class="ax-col-12">
            	    <div class="ax-unit">
                        <h2>카피라이트</h2>
                        2012© Blue Ocean for XpressEngine
            	    </div>    
            	</div>
            	<div class="ax-clear"></div>
            </div>        
        </div>
    </div>
</div>