<div id="AXPageBody" class="ax-sub">
    <div class="ax-wrap">
        <h1>서브페이지</h1>
        <div class="ax-layer">
        	<div class="ax-col-3">
        	    <div class="ax-unit">
                     <h2>XE소개</h2>     			
                     <ul>
                         <li>About</li>
                         <li>XE허브</li>
                         <li>이벤트</li>
                         <li>컨트리뷰터</li>
                     </ul>
        	    </div>
        	</div>
        	<div class="ax-col-9">
        	    <div class="ax-unit">
        	        <article id="CXPage">
            	        컨텐츠 삽입
        	        </article>
        	    </div>
        	</div>
        	<div class="ax-clear"></div>
        </div>
    </div>
</div>