@import "/axj/axisj/ui/arongi/AXUtils";
@import "/layouts/css/preset";


// s.Default /////////////////////////////////////////////////////// 
#CXPage{

	.cx-wrap 	{margin:0 auto; }
	.cx-clear	{clear:both;}
	.cx-unit	{margin:0 10px; }
	
	.cx-col		{float:left;}		
	div[class*="cx-col-"] {float:left; height: inherit;}
	.cx-col-1	{width:8.3334%;}	
	.cx-col-2	{width:16.6667%}		
	.cx-col-3	{width:25%}			
	.cx-col-4	{width:33.3334%; }
	.cx-col-5 	{width:41.6667%;}
	.cx-col-6	{width:50%;}
	.cx-col-7	{width:58.3334%}
	.cx-col-8	{width:66.6667%}
	.cx-col-9	{width:75%;}
	.cx-col-10 	{width:83.3334%}
	.cx-col-11	{width:91.6667%}
	.cx-col-12	{width:100%}	
	
	div[class*="mx-"] {display: none;}
	
	&.contents{

	}
}
// e.Default /////////////////////////////////////////////////////// 


// s.Wide /////////////////////////////////////////////////////// 
@media @wide {
	.cx-wrap {max-width:@wx-width}
}
// e.Wide /////////////////////////////////////////////////////// 


// s.Desktop /////////////////////////////////////////////////////// 
@media @desktop {
	.cx-wrap {max-width:@dx-width}
}
// e.Desktop /////////////////////////////////////////////////////// 

// s.Tablet /////////////////////////////////////////////////////// 
@media @tablet{
#CXPage{
 	.cx-wrap 	{margin:0 auto; width:@tx-width}
	.cx-clear	{clear:both;}
	.cx-unit	{margin:0 10px; }
	
	.cx-col		{float:left;}		
	div[class*="cx-col-"] {float:left; height: inherit;}
	.cx-col-1	{width:100%}	
	.cx-col-2	{width:100%}		
	.cx-col-3	{width:100%}			
	.cx-col-4	{width:100%;}
	.cx-col-5 	{width:100%}
	.cx-col-6	{width:100%;}
	.cx-col-7	{width:100%;}
	.cx-col-8	{width:100%;}
	.cx-col-9	{width:100%;}
	.cx-col-10 	{width:100%;}
	.cx-col-11	{width:100%;}
	.cx-col-12	{width:100%;}	

	div[class*="mx-"] {display: block;}
	
	&.contents{}
} 
}
// e.Tablet /////////////////////////////////////////////////////// 

// s.Mobile /////////////////////////////////////////////////////// 
@media @mobile {

#CXPage{
	.cx-wrap 	{margin:0 auto; width:@mx-width}
	.cx-clear	{clear:both;}
	.cx-unit	{margin:0 10px; }
	
	.cx-col		{float:left;}		
	div[class*="cx-col-"] {float:left; height: inherit;}
	.cx-col-1	{width:100%}	
	.cx-col-2	{width:100%}		
	.cx-col-3	{width:100%}			
	.cx-col-4	{width:100%;}
	.cx-col-5 	{width:100%}
	.cx-col-6	{width:100%;}
	.cx-col-7	{width:100%;}
	.cx-col-8	{width:100%;}
	.cx-col-9	{width:100%;}
	.cx-col-10 	{width:100%;}
	.cx-col-11	{width:100%;}
	.cx-col-12	{width:100%;}	

	div[class*="mx-"] {display: block;}
	
	&.contents{}
	
}

}
// e.Mobile /////////////////////////////////////////////////////// 