<load target="http://cdn.axisj.com/axicon/axicon.css" />
<load target="http://cdn.axisj.com/axisj/ui/arongi/AXJ.min.css" />
<load target="http://cdn.axisj.com/axisj/dist/AXJ.min.js" />
<load target="css/layout.css" />

<div id="AXPage">
    <div id="AXPageHead">
        <div class="ax-wrap">
            <div class="ax-layer">
            	<div class="ax-col-12">
            	    <div class="ax-unit">
            	    	AXPageHead 
            	    </div>    
            	</div>
            	<div class="ax-clear"></div>
            </div>        
        </div>
    </div>
    <include target="layout-main.html" cond="$layout_info->layout_type == 'main'" />
    <include target="layout-sub.html" cond="$layout_info->layout_type == 'sub'" />    
    <div id="AXPageFoot">
        <div class="ax-wrap">
            <div class="ax-layer">
            	<div class="ax-col-12">
            	    <div class="ax-unit">
            	    	AXPageFoot	
            	    </div>    
            	</div>
            	<div class="ax-clear"></div>
            </div>        
        </div>
    </div>
</div>