/*
woff : Web Open Font Format의 약자로 W3C권고 표준이고, 파이어폭스, 사파리, 오페라, 크롬, IE 9이상에서 지원
eot : Embeded Open Type의 약자로, 표준형식은 아닙니다만, IE6~8버전에서는  eot만을 지원하기 때문에, woff, eot 모두 필요.
Nanum Barun Gothic (Korean) http://hangeul.naver.com
*/

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Nanum Barun Gothic Regular'), local('Nanum Barun Gothic-Regular'), local('NanumBarunGothic Regular');
  src: url(./NanumBarunGothic.eot);
  src: url(./NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
       url(./NanumBarunGothic.woff) format('woff'),
       url(./NanumBarunGothic.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 700;
  src: local('Nanum Barun Gothic Bold'), local('Nanum Barun Gothic-Bold'), local('NanumBarunGothic Bold');
  src: url(./NanumBarunGothicBold.eot);
  src: url(./NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
       url(./NanumBarunGothicBold.woff) format('woff'),
       url(./NanumBarunGothicBold.ttf) format('truetype');
}