@import url("../css/NanumBarunGothic.css");

// s.Preset Color ///////////////////////////////////////////////// 
@color      :#1e8da8;
@color-a    :#b57220;
@bgcolor    :@color;
@bgcolor-a  :@color-a;
@border     :1px solid #000;

@white      :#fff;
@black      :#000;
@red        :#f00;
@green      :#0f0;
@blue       :#00f;

@font       :"Nanum Barun Gothic"; //웹폰트
@font-a     :"Verdana";
@font-b     :"Meiryo";

@wide:		~"(min-width:1152px)";
@desktop:   ~"only screen and (min-width: 1024px) and (max-width: 1151px)";
@tablet:    ~"only screen and (min-width: 768px) and (max-width: 1023px)";
@mobile:	~"(max-width: 767px)";

@wx-width	:1152px;
@dx-width	:960px;
@tx-width   :100%;
@mx-width   :100%;
// s.Preset Color ///////////////////////////////////////////////// 

// s.Common //////////////////////////////////////////////////////
html, body	{
	margin:0px; padding:0px; 
	height:100%; 
	color:lighten(@black,30%); 
	a 		{color:lighten(@black,30%); text-decoration: none;}	 	
	a:hover {color:lighten(@black,10%); text-decoration: underline;}
	a:active{color:lighten(@black,20%);}
	background:@bgcolor;
}

body, input, table, textarea, select, button{
	font-family:@font, @font-a, @font-b;
	word-wrap: normal !important;
    -webkit-font-smoothing: antialiased;	
}

.H10	{height:10px; font-size:1px; }
.H20	{height:20px; font-size:1px; }
.H30	{height:30px; font-size:1px; }
.H40	{height:40px; font-size:1px; }
.H50	{height:50px; font-size:1px; }
.H60	{height:60px; font-size:1px; }
.H70	{height:70px; font-size:1px; }
.H80	{height:80px; font-size:1px; }
.H90	{height:90px; font-size:1px; }
.H100	{height:100px; font-size:1px; }

// e.Common //////////////////////////////////////////////////////